* {
    font-family: verdana,sans-serif;
    font-size: 20px;
}

.disabled {
    color: black;
    background-color: white;
    border: 0;
}

#header {
    background-color: #82CAFA;
    width: 100%;
    padding: 10px;
}

#header h1 {
    color: white;
    text-align: center;
}

#content {
    padding: 10px;
}

#footer {
    background-color: #82CAFA;
    width: 100%;
    padding: 10px;
}

#footer * {
    font-size: 10px;
}

#footer td {
    width: 20%;
}

img { border: 0px }
.small { font-size: xx-small }

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

#map * { 
    font-size: 10px;
}

#map { 
    border: 1px solid black; 
    width: 100%; height: 300px;
    float: left;
}

table#main td.half {
    width: 50%;
    padding: 5px;
    vertical-align: top;
}

table {
    width: 100%;
}

td#go {
    vertical-align: bottom;
    text-align: right;
}

td#inputs {
    width: 100%;
    text-align: left;
    vertical-align: top;
}

#coords { 
    font-size: 16px;
    font-weight: bold;
}

#linkto { 
    font-size: 10px;
}

#linkto * { 
    font-size: 10px;
}

#list * { 
    font-size: 10px;
}

.error {
    color: red;
}

li { padding: 5px; }

.infoWindow {
    width: 200px;
    height: 100px;
}

input#address {
    width: 400px;
}
