<table id="main">
    <tr>
        <td id="mapContainer">
            <div id="map"></div>
            <div id="linkto"></div>
        </td>
        <td id="list"></td>
    </tr>
</table>
<script>
    SCHOOLMAP.initMap();
</script>
